body {
  margin-left: 0px;
  margin-right: 0px;
  }

/*Homepage*/
.row#main_img{
  height: 350px;
  position: relative;
  left: -5px;
}


/*About page styling*/

.projects {
    text-align: center;
}

.proj_desc {
  text-align: left;
}

.projects img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Grid system*/

* {
  font-family: 'Lato', sans-serif;
}

body  {
  background-color: #f3f3eb;
}

.profile-img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
  text-align: justify;
}

/* nav */

.nav {
  position: relative;
  margin: 20px 0;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {

	padding: 3px 12px;
	text-decoration: none;
	color: #b8d676;
	line-height: 100%;

}

.nav a:hover {
  color: #000;
}

.nav .current a {
	background: #b8d676;
	color: #fff;
	border-radius: 5px;
}

/* right nav */

.nav.right ul {
  text-align: right;
}
@media screen and (max-width: 600px) {

  .nav {
    position: relative;
    min-height: 40px;
  }
  .nav ul {
    width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background: #fff url('../images/icon-menu.png') no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  }
  .nav li {
    display: none;
    /* hide all <li> items */
    margin: 0;
  }
  .nav .current {
    display: block;
    /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
    color: #666;
  }
  /* on nav hover */
  .nav ul:hover {
    background-image: none;
  }
  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .nav ul:hover .current {
    background: url('../images/icon-check.png') no-repeat 10px 7px;
  }
  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }
  /* center nav */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }

	.nav {
		position: relative;
		min-height: 40px;
	}
	.nav ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #b8d676;
		background: #fff url('../images/icon-menu.png') no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url('../images/icon-check.png') no-repeat 10px 7px;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}

}

/*set width of entire grid*/

.grid-container {

  width: 100%;
}

/*set width and height properties (and min/max properties) to include content, padding and border*/

.grid-container * {
  box-sizing: border-box;
}

/*ensure columns in one row do not overflow into the next*/

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

/* For mobile phones: */

[class*="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 12px;
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  /*column widths*/
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }

}
@media only screen and (min-width: 768px) {
  /* For desktop: */

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  /*offset*/
  .offset-1 {
    margin-left: 8.33%;
  }
  .offset-2 {
    margin-left: 16.66%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.33%;
  }
  .offset-5 {
    margin-left: 41.66%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.33%;
  }
  .offset-8 {
    margin-left: 66.66%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.33%;
  }
  .offset-11 {
    margin-left: 91.66%;
  }
}
.background-image {
  position: absolute;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/im1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50vh;
  overflow: hidden;

}

.background-image > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  overflow: hidden;
  background-position: 0 50vh;
  text-align: center;
  text-shadow: 2px 2px black;
}
.background-image > header::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  background-position: 0 50vh;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.background-image > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.module > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.background-image > header > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.dropdown {
  position: relative;
  top: 498px;
}

.overscroll{
  height:120px;
  width:1300px;
  border:0px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:scroll;
}
rowform{
  width: 200px;
}
